# General
HOMELAB_ADDRESS=127.0.0.1
TIMEZONE=Europe/Alpha

# Grafana
GRAFANA_PASSWORD=StrongPassword123
GRAFANA_USER=CoolUser

# Portainer
PORTAINER_ENV=1
PORTAINER_KEY=RobustPortainerKey

# Tailscale
TAILSCALE_KEY=RobustTailscaleKey
TAILSCALE_HREF=https://tailscale.host/devices
TAILSCALE_API=https://tailscale.api/

# Location
LOCATION_LATITUDE=10.00
LOCATION_LONGITUDE=11.11
LOCATION_NAME=Alpha
