### ========= GENERAL ========= ###

HOMELAB_ADDRESS=127.0.0.1
HOMELAB_DOMAIN=my.home.lab

GITHUB_USERNAME=kaboupi
GITLAB_USERNAME=kaboupi
DOCKER_NAME=kaboupi-docker

TIMEZONE=Europe/Moscow
LOG_LEVEL=INFO

### ========= HOMEPAGE ========= ###

HOMEPAGE_NAME=homepage
HOMEPAGE_PORT=3030

### ========= VERT ========= ###

VERT_NAME=vert
VERT_PORT=3333

### ========= IT-TOOLS ========= ###

IT_TOOLS_NAME=it-tools
IT_TOOLS_PORT=8080

### ========= MONITORING ========= ###

##### --------- GRAFANA --------- #####

GRAFANA_NAME=monitoring-grafana
GRAFANA_PORT=3000

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

##### --------- PROMETHEUS --------- #####

PROMETHEUS_NAME=prometheus
PROMETHEUS_HOSTNAME=prometheus
PROMETHEUS_PORT=9090

##### --------- NODE-EXPORTER --------- #####

NODE_EXPORTER_NAME=node-exporter

### ========= PORTAINER ========= ###

PORTAINER_NAME=portainer
PORTAINER_PORT_UI=9000
PORTAINER_PORT_API=9443

# NOTE: Set up variables after initial portainer launch
# PORTAINER_ENV: https://my.home.lab/#!/2/ -> 2
# PORTAINER_KEY: User -> My account -> Access tokens
#
# PORTAINER_ENV=1
# PORTAINER_KEY=VeryRobustKeyPortainer

### ========= WATCHTOWER ========= ###

WATCHTOWER_NAME=watchtower
WATCHTOWER_HOSTNAME=watchtower
WATCHTOWER_PORT=8293

# Generate it with: openssl rand -hex 32
WATCHTOWER_KEY=VeryRobustKeyWatchtower

### ========= LOCATION ========= ###

LOCATION_NAME=Moscow
LOCATION_LATITUDE=12.34
LOCATION_LONGITUDE=23.45
