# General
HOMELAB_ADDRESS=192.168.0.123
HOMEPAGE_PORT=3000

GITHUB_USERNAME=kaboupi
GITLAB_USERNAME=kaboupi
DOCKER_NAME=kaboupi-docker

TIMEZONE=Europe/Moscow
LOG_LEVEL=INFO

# VERT
VERT_NAME=vert
VERT_PORT=3333

# IT-Tools
ITTOOLS_NAME=it-tools
ITTOOLS_PORT=8000

# Grafana
GRAFANA_NAME=grafana
GRAFANA_PORT=3030

GRAFANA_USER=CoolUser
GRAFANA_PASSWORD=CoolPassword

# Portainer
PORTAINER_NAME=portainer
PORTAINER_PORT_UI=9000
PORTAINER_PORT_API=9443

PORTAINER_ENV=2
PORTAINER_KEY=RobustKeyPortainer

# Tailscale
TAILSCALE_KEY=RobustKeyTailscale
TAILSCALE_HREF=https://tailscale.host/devices
TAILSCALE_API=https://tailscale.host.api/

# Location
LOCATION_NAME=Moscow
LOCATION_LATITUDE=12.34
LOCATION_LONGITUDE=23.45

